@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);




body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 4.25rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Avenir-Light';
  font-size: 1.5rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #33a33e !important;
}
.bg-success {
  background-color: #ffda00 !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #33a33e !important;
  border-color: #33a33e !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #216928 !important;
  border-color: #216928 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #216928 !important;
  border-color: #216928 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #ffda00 !important;
  border-color: #ffda00 !important;
  color: #000000 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #000000 !important;
  background-color: #b39900 !important;
  border-color: #b39900 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #000000 !important;
  background-color: #b39900 !important;
  border-color: #b39900 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #1b5520;
  color: #1b5520;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #33a33e;
  border-color: #33a33e;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #33a33e !important;
  border-color: #33a33e !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #998300;
  color: #998300;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #000000;
  background-color: #ffda00;
  border-color: #ffda00;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #000000 !important;
  background-color: #ffda00 !important;
  border-color: #ffda00 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #33a33e !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #ffda00 !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #1b5520 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #998300 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #33a33e;
  border-color: #33a33e;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #33a33e;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #7fd787;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #fff8cc;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #33a33e;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #33a33e;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #33a33e;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #33a33e;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #33a33e;
  border-bottom-color: #33a33e;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #33a33e !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff3366 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2333a33e' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-rVnX7Z5FLC {
  height: 0 !important;
}
.cid-rVnX7Z5FLC .dropdown-item:before {
  content: '';
  position: absolute;
  left: 16px;
  top: 50%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  opacity: 0;
  background-color: #ff3366;
  transform: translateY(-50%);
  transition: all 0.3s;
}
.cid-rVnX7Z5FLC .dropdown-item:hover:before {
  opacity: 1!important;
}
.cid-rVnX7Z5FLC .nav-item:focus,
.cid-rVnX7Z5FLC .nav-link:focus {
  outline: none;
}
.cid-rVnX7Z5FLC .text-white:hover,
.cid-rVnX7Z5FLC .text-white:active,
.cid-rVnX7Z5FLC .text-white:focus {
  color: white!important;
}
.cid-rVnX7Z5FLC .navbar {
  max-width: 1000px;
  margin: auto;
  margin-top: -10px;
  opacity: 0.9;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  min-height: 77px;
  transition: all .3s;
  background: #232323;
}
.cid-rVnX7Z5FLC .navbar:hover {
  opacity: 1;
  margin-top: 0;
}
.cid-rVnX7Z5FLC .navbar.opened {
  transition: all .3s;
  background: #232323 !important;
}
.cid-rVnX7Z5FLC .navbar .dropdown-item {
  padding: .235rem 1.5rem;
}
.cid-rVnX7Z5FLC .navbar .navbar-collapse {
  justify-content: center;
  z-index: 1;
}
.cid-rVnX7Z5FLC .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-rVnX7Z5FLC .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-rVnX7Z5FLC .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-rVnX7Z5FLC .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-rVnX7Z5FLC .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-rVnX7Z5FLC .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-rVnX7Z5FLC .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-rVnX7Z5FLC .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-rVnX7Z5FLC .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-rVnX7Z5FLC .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-rVnX7Z5FLC .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-rVnX7Z5FLC .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-rVnX7Z5FLC .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-rVnX7Z5FLC .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-rVnX7Z5FLC .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-rVnX7Z5FLC .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-rVnX7Z5FLC .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-rVnX7Z5FLC .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-rVnX7Z5FLC .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-rVnX7Z5FLC .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-rVnX7Z5FLC .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-rVnX7Z5FLC .navbar.navbar-short {
  background: #232323 !important;
  min-height: 60px;
}
.cid-rVnX7Z5FLC .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-rVnX7Z5FLC .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-rVnX7Z5FLC .section {
  position: relative;
  overflow: visible!important;
}
.cid-rVnX7Z5FLC .dropdown-item {
  font-weight: 400!important;
  color: black!important;
}
.cid-rVnX7Z5FLC .dropdown-item:hover {
  color: black!important;
}
.cid-rVnX7Z5FLC .dropdown-menu {
  background-color: white!important;
}
.cid-rVnX7Z5FLC .navbar .dropdown.open > .dropdown-menu {
  border-radius: 10px;
  box-shadow: 0 10px 55px 5px rgba(255, 102, 140, 0.35);
  display: block;
}
.cid-rVnX7Z5FLC .nav-link:before {
  content: '';
  position: absolute;
  left: 10px;
  top: 50%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  opacity: 0;
  background-color: #ff3366;
  transform: translateY(-50%);
  transition: all 0.3s;
}
.cid-rVnX7Z5FLC .nav-item:hover .nav-link:before {
  opacity: 1!important;
}
@media (min-width: 992px) {
  .cid-rVnX7Z5FLC .nav-item {
    position: relative;
  }
}
.cid-rVnX7Z5FLC .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rVnX7Z5FLC .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rVnX7Z5FLC .dropdown .dropdown-menu .dropdown-item:hover {
  padding-left: 2rem;
  padding-right: 1rem;
}
.cid-rVnX7Z5FLC .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-rVnX7Z5FLC .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rVnX7Z5FLC .collapsed {
  flex-direction: row!important;
}
.cid-rVnX7Z5FLC .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-rVnX7Z5FLC .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-rVnX7Z5FLC .navbar-caption {
  font-weight: 600!important;
}
.cid-rVnX7Z5FLC .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-rVnX7Z5FLC .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-rVnX7Z5FLC .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-rVnX7Z5FLC .dropdown-item.active,
.cid-rVnX7Z5FLC .dropdown-item:active {
  background-color: transparent;
}
.cid-rVnX7Z5FLC .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-rVnX7Z5FLC .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-rVnX7Z5FLC .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-rVnX7Z5FLC .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #232323;
}
.cid-rVnX7Z5FLC .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-rVnX7Z5FLC ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rVnX7Z5FLC .navbar-buttons {
  text-align: center;
}
.cid-rVnX7Z5FLC button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rVnX7Z5FLC button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #073b4c;
}
.cid-rVnX7Z5FLC button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rVnX7Z5FLC button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rVnX7Z5FLC button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rVnX7Z5FLC button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rVnX7Z5FLC nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rVnX7Z5FLC nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rVnX7Z5FLC nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rVnX7Z5FLC nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rVnX7Z5FLC .navbar-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  padding: .5rem 1rem;
  position: fixed;
}
.cid-rVnX7Z5FLC .nav-link {
  font-weight: 600!important;
}
.cid-rVnX7Z5FLC a.nav-link {
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rVnX7Z5FLC .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-rVnX7Z5FLC .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
}
.cid-rVnX7Z5FLC .icons-menu span {
  font-size: 26px;
  color: #33a33e;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rVnX7Z5FLC .navbar {
    height: 77px;
  }
  .cid-rVnX7Z5FLC .navbar.opened {
    height: auto;
  }
  .cid-rVnX7Z5FLC .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-rVnX5N1skD {
  background-image: url("../../../assets/images/alexdelyons-1853-1024x683.jpg");
}
.cid-rVo0PNR0yA {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rVo0PNR0yA .text-box {
  position: absolute;
  top: 0px;
  min-height: 100%;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}
.cid-rVo0PNR0yA .text-block {
  position: relative;
  z-index: 0;
}
.cid-rVo0PNR0yA .box {
  width: 25%;
  height: 40%;
  background: #ffda00;
  position: absolute;
  top: 4%;
}
.cid-rVo0PNR0yA .box {
  left: 20%;
}
.cid-rVo0PNR0yA .text-box {
  left: 0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.cid-rVo0PNR0yA .mbr-section-text,
.cid-rVo0PNR0yA .mbr-section-title {
  margin-left: 31%;
}
@media (max-width: 991px) {
  .cid-rVo0PNR0yA .text-box {
    display: none;
  }
  .cid-rVo0PNR0yA .mbr-section-title,
  .cid-rVo0PNR0yA .mbr-section-text {
    margin: auto;
  }
}
@media (max-width: 767px) {
  .cid-rVo0PNR0yA .box {
    display: none;
  }
  .cid-rVo0PNR0yA .row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-rVo0PNR0yA .img-block {
    margin-bottom: 1rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rVo0PNR0yA .text-box {
    writing-mode: bt-rl;
  }
}
.cid-rVo0PNR0yA .mbr-section-text {
  color: #767676;
}
.cid-rVo1HxeqZY {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffda00;
}
.cid-rVo1HxeqZY .mbr-text {
  color: #767676;
}
.cid-rVo1HxeqZY h4 {
  text-align: center;
}
.cid-rVo1HxeqZY p {
  text-align: center;
}
.cid-rVo1HxeqZY .card .card-img {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rVo1HxeqZY .card:hover .step {
  color: #ffffff;
  border: 0px solid transparent;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.cid-rVo1HxeqZY .card:hover .step:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.cid-rVo1HxeqZY .step {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  width: 100px;
  height: 100px;
  border: 2px solid #eee;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  border-radius: 50%;
  transition: all .3s;
}
.cid-rVo1HxeqZY .step:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition-duration: 0.3s;
  background: linear-gradient(45deg, #55b4d4, #55b4d4);
  border-radius: 50%;
}
.cid-rVo1HxeqZY .underline {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.cid-rVo1HxeqZY .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(90deg, #33a33e, #ff3366);
  display: inline-block;
}
@media (min-width: 768px) {
  .cid-rVo1HxeqZY .mbr-section-title,
  .cid-rVo1HxeqZY .underline {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.cid-rVo38NoYeE {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #ffffff;
}
.cid-rVo3p6gmJg .column-content {
  padding-top: 120px;
  padding-bottom: 90px;
  background-color: #ffffff;
  width: 100%;
  float: right;
  position: relative;
}
.cid-rVo3p6gmJg .text-content .btn-bgr {
  z-index: 0;
}
.cid-rVo3p6gmJg .mbr-overlay {
  background: linear-gradient(#d6173f -10%, #00113e 75%);
}
.cid-rVo3p6gmJg .container-full-width {
  position: relative;
}
.cid-rVo3p6gmJg .text-content {
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}
.cid-rVo3p6gmJg .layer {
  display: none;
  height: 101%;
  position: absolute;
  right: 49.9%;
  top: 0;
  bottom: 0;
}
.cid-rVo3p6gmJg .layer path {
  fill: #ffffff;
}
@media (min-width: 576px) {
  .cid-rVo3p6gmJg .text-content {
    width: 540px;
  }
  .cid-rVo3p6gmJg .column-content {
    width: 100%;
  }
  .cid-rVo3p6gmJg .layer {
    display: none;
  }
}
@media (min-width: 768px) {
  .cid-rVo3p6gmJg .text-content {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .cid-rVo3p6gmJg .text-content {
    width: 480px;
    margin: 0;
  }
  .cid-rVo3p6gmJg .column-content {
    width: 50%;
  }
  .cid-rVo3p6gmJg .layer {
    display: block;
  }
}
@media (min-width: 1200px) {
  .cid-rVo3p6gmJg .text-content {
    width: 570px;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rVo3p6gmJg .container-full-width .layer {
    right: 2.6rem;
    height: 33rem;
  }
  .cid-rVo3p6gmJg .column-content {
    height: 33rem;
  }
}
.cid-rVo3p6gmJg .mbr-text,
.cid-rVo3p6gmJg .mbr-section-btn {
  color: #767676;
}
.cid-rVo4Js9x7a {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rVo4Js9x7a .row {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: stretch;
  align-items: stretch;
}
.cid-rVo4Js9x7a .content-panel {
  padding: 2rem;
  background-color: #f7d400;
  border-radius: .25rem;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}
@media (min-width: 992px) {
  .cid-rVo4Js9x7a .form-group,
  .cid-rVo4Js9x7a .input-group-btn {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}
.cid-rVo4Js9x7a .form-control {
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  min-height: 40px;
  padding: .5rem 1rem;
  background-color: #ffffff;
  border: 1px solid #efefef;
  color: #565656;
  border-radius: .25rem;
  font-size: 1rem;
  line-height: 1.43;
}
.cid-rVo4Js9x7a .form-control:focus,
.cid-rVo4Js9x7a .form-control:hover {
  border: 1px solid #e8e8e8;
  background-color: #ffffff;
}
.cid-rVo4Js9x7a textarea.form-control {
  min-height: 170px;
}
.cid-rVo4Js9x7a .form-group {
  margin-bottom: 1rem;
}
.cid-rVo4Js9x7a input::-webkit-input-placeholder,
.cid-rVo4Js9x7a textarea::-webkit-input-placeholder {
  color: #565656;
}
.cid-rVo4Js9x7a input:-moz-placeholder,
.cid-rVo4Js9x7a textarea:-moz-placeholder {
  color: #565656;
}
.cid-rVo4Js9x7a .jq-selectbox li,
.cid-rVo4Js9x7a .jq-selectbox li {
  background-color: #ffffff;
  color: #000000;
}
.cid-rVo4Js9x7a .jq-selectbox li:hover,
.cid-rVo4Js9x7a .jq-selectbox li.selected {
  background-color: #ffffff;
  color: #000000;
}
.cid-rVo4Js9x7a .jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #ffffff;
}
.cid-rVo4Js9x7a .jq-selectbox .jq-selectbox__trigger-arrow {
  border-top-color: #ffffff;
}
@media (max-width: 768px) {
  .cid-rVo4Js9x7a .main-row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-rVo4Js9x7a .text-block {
    margin-bottom: 2rem;
  }
}
.cid-rVo6A2jYzO {
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #282124;
}
.cid-rVo6A2jYzO .row {
  justify-content: space-between;
  padding: 0 1rem;
}
.cid-rVo6A2jYzO .container {
  max-width: 1500px;
}
.cid-rVo6A2jYzO .content-wrapper {
  max-width: 800px;
}
@media (min-width: 767px) {
  .cid-rVo6A2jYzO .container {
    padding: 0 4rem;
  }
}
.cid-rVo6A2jYzO .mbr-text,
.cid-rVo6A2jYzO .mbr-section-btn {
  color: #efeeee;
}
.cid-rVo6A2jYzO .btn {
  width: -webkit-fill-available;
  margin: 0.4rem!important;
  justify-content: space-between;
}
.cid-rVo6A2jYzO .btn .mbr-iconfont {
  order: 2;
}
.cid-rVo6A2jYzO .pt-5 {
  padding-top: 4rem!important;
}
@media (max-width: 922px) {
  .cid-rVo6A2jYzO .align-left {
    text-align: center;
  }
  .cid-rVo6A2jYzO .row {
    justify-content: center;
    padding: 0rem;
  }
}
.cid-rVo804Zt6I {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
@media (max-width: 767px) {
  .cid-rVo804Zt6I .media-wrap {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-rVo804Zt6I .media-wrap .mbr-iconfont-logo {
  font-size: 7rem;
  color: #f36;
}
.cid-rVo804Zt6I .media-wrap img {
  height: 6rem;
}
.cid-rVo804Zt6I .mbr-text {
  color: #767676;
}
@media (max-width: 767px) {
  .cid-rVo804Zt6I .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-rVo804Zt6I .footer-lower hr {
  margin: 1rem 0;
  border-color: #000;
  opacity: .05;
}
.cid-rVo804Zt6I .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-rVo804Zt6I .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #232323;
}
.cid-rVo804Zt6I .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-rVo804Zt6I .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rVo804Zt6I .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rVo804Zt6I .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-rVo6Fsacwq {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
}
