@font-face {
   font-family: 'Avenir-Light';
   font-display: swap;
   src: url('file:///Users/Admin/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-04-06_143052/fonts/Avenir-Light/font.ttf');
}
